@import url("reset.css");






.fixed {
  position: sticky;
  position: -webkit-sticky;

  width: 370px;
  height: 0px;
  top: 30px;
  
}
.extra,
.wrapper {
  width: 75%;
  margin: auto;
  background-color: #ccc;
}
.wrapper {
  height: 1000px;
}




:root {
  --text-color: #02475b;
}

.container {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 15px 20px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  display: flex;
}

.header h1 {
  text-align: center;
  margin: 0 210px;
  font-size: 5px;
  text-transform: uppercase;
  color: #2456c49f;
}

.fake {
  pointer-events: none;
  opacity: 0;
}

.logo {
  max-width: 150px;
}

.btn {
  border: 0;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px 25px;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 1.5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: inline-block;
}

.primary-btn {
  background-color: #fcb716;
  color: #fff;
}

.primary-btn:hover {
  background-color: #fab615;
}

.card {
  padding: 20px 15px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.link {
  text-transform: uppercase;
  color: #c27209;
  text-decoration: none;
  font-weight: 400;
}

.lite-text {
  font-weight: 300;
}

.section-margin {
  margin-bottom: 25px;
}

main {
  background-color: #f0f1ec;
  min-height: calc(100vh - 73px);
  padding: 25px 20px 0;
}

.result {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
}

.section-one h1 {
  font-size: 24px;
  line-height: 1.5;
  text-transform: uppercase;
  margin-right: 10px;
  font-weight : 700;
}

.section-one h1 p {
  color: var(--text-color);
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 400;
  line-height: 1.5;
}

.section-one h1.low {
  color: #4caf50;
}

.section-one h1.mid {
  color: #d69a0a;
}

.section-one h1.high {
  color: #f44336;
}

.section-two p {
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 300;
}

.section-two ol {
  padding-left: 20px;
}

.section-two ol li {
  font-size: 15px;
  font-weight: 600;
  color: var(--text-color);
  line-height: 1.5;
  list-style: decimal;
}

.section-three {
  padding: 30px 20px 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 50px;
  position: relative;
}

.section-three img {
  position: absolute;
  right: 20px;
  top: -35px;
  max-width: 70px;
}

.section-three h3 {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 5px;
  color: var(--text-color);
}

.section-three p {
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 25px;
  color: #0087ba;
}

.section-three .btn {
  margin: 0 auto;
  width: 250px;
  display: block;
}

.section-four {
  padding: 20px;
  background-color: #f7f8f5;
  box-shadow: 0 5px 20px 0 rgba(128, 128, 128, 0.3);
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 50px;
}

.section-four *:not(a) {
  color: var(--text-color);
  line-height: 1.5;
}

.section-four ul {
  list-style: none;
}

.section-four ul li {
  margin-bottom: 20px;
}

.section-four h3,
.section-four ul li h4 {
  font-size: 15px;
}

.section-four p {
  font-size: 13px;
  font-weight: 300;
}

.section-four h3,
.section-four h3 ~ p {
  margin-bottom: 20px;
}

.section-four a {
  color: #0087ba;
}

@media screen and (min-width: 641px) {
  .section-three {
    margin-left: 0;
    margin-right: 0;
    border-radius: 15px;
  }
  .section-four {
    margin-left: 0;
    margin-right: 0;
    border-radius: 15px;
  }
  main {
    padding-bottom: 150px;
  }
}

/*Spedometer*/
#score-meter-1 {
  width: 100px;
  height: 50px;
  border-top-left-radius: 180px;
  border-top-right-radius: 180px;
  overflow: hidden;
  position: relative;
}
#scorer-1-inner-div {
  position: absolute;
  left: 20%;
  top: 40%;
  width: 60%;
  height: 60%;
  border-top-left-radius: 180px;
  border-top-right-radius: 180px;
  background-color: #ffffff;
  z-index: 2;
}
#scorer-1-inner-div-2 {
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: 4;
  width: 100%;
  height: 100%;
  border-top-left-radius: 180px;
  border-top-right-radius: 180px;
  background-color: #4caf50;
  transform-origin: bottom center;
  transform: rotate(-120deg);
  z-index: 0;
}
#scorer-1-inner-div-3 {
  position: absolute;
  right: 0%;
  top: 0%;
  z-index: 4;
  width: 100%;
  height: 100%;
  border-top-left-radius: 360px;
  border-top-right-radius: 360px;
  background-color: #f44336;
  transform-origin: bottom center;
  transform: rotate(120deg);
  z-index: 0;
}
#scorer-1-inner-div-4 {
  position: absolute;
  left: 25px;
  top: -2px;
  width: 0;
  height: 0;
  border-left: 45px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 60px solid #fab615;
  transform: rotate(170deg);
}
.scorer-1-tick {
  position: absolute;
  top: 10%;
  left: -250%;
  width: 300%;
  height: 5px;
  background-color: #000000;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
}

.scorer-1-tick.low {
  animation-name: ticker-mover-low;
  animation-duration: 0.5s;
}

.scorer-1-tick.mid {
  animation-name: ticker-mover-mid;
  animation-duration: 0.75s;
}

.scorer-1-tick.high {
  animation-name: ticker-mover-high;
  animation-duration: 1s;
}

#scorer-1-inner-div-5 {
  position: absolute;
  left: 45%;
  top: 80%;
  width: 10%;
  height: 20%;
  border-radius: 50%;
  background-color: #000000;
  z-index: 2;
}
@keyframes ticker-mover-low {
  0% {
    transform-origin: right center;
    transform: rotate(0deg);
  }
  100% {
    transform-origin: right center;
    transform: rotate(23deg);
  }
}

@keyframes ticker-mover-mid {
  0% {
    transform-origin: right center;
    transform: rotate(0deg);
  }
  100% {
    transform-origin: right center;
    transform: rotate(90deg);
  }
}

@keyframes ticker-mover-high {
  0% {
    transform-origin: right center;
    transform: rotate(0deg);
  }
  100% {
    transform-origin: right center;
    transform: rotate(160deg);
  }
}
